[run]
branch = True
data_file = .coverage
relative_files = True
source = analyticsdataserver, analytics_data_api
omit = analyticsdataserver/settings*
       *wsgi.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise NotImplementedError

[html]
directory = ${COVERAGE_DIR}/html/

[xml]
output = ${COVERAGE_DIR}/coverage.xml
